# Ignore virtual environments
.venv/
env/
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore model and log files
models/
logs/
*.zip
*.sumo.log
*.traci

# Ignore system files
.DS_Store
Thumbs.db
